// Fuentes
$fuentePrincipal: 'Open Sans', sans-serif;
$fuenteSecundaria: 'Roboto', cursive;
// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;
$desktopxl: 1200px;
// Colores
$primario: #493496CA;
$secundario: #3EBBCE;
$negro: #202020;
$blanco: #FFFFFF;
$gris: #EEEFED;
$grisClaro: #F8F8F8;