html {
    box-sizing: border-box;
    height: 100%;
    font-size: 62.5%;
}
*, *::before, *::after {
    box-sizing: inherit;
}
/** Globales **/
body {
    font-size: 1.8rem;
}
a {
    text-decoration: none;
    color: #000000;
}
img {
    max-width: 100%;
    display: block;
}
.contenedor {
    width: 120rem;
    max-width: 95%;
    margin: 0 auto; /** margin-inline: auto **/

}
/** Header y Navegacion **/
.nombre-sitio {
    margin-top: 5rem;
    margin-bottom: 50px;
    text-align: center;
}
.nombre-sitio span {
    color: #037bc0;
}
.contenedor-nav {
    border: .1rem solid #e1e1e1;
}
.nav-principal {
    padding: 2rem 0;
    display: flex;
    justify-content: space-evenly;
}
.hero {
    height: 55rem;
    background-image: url(../img/principal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
/** Categorias **/
.categorias h2 {
    text-align: center;
}
.listado-categorias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}