html {
    box-sizing: border-box;
    height: 100%;
    font-size: 62.5%;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    font-size: 1.8rem;
    font-family: 'Raleway', sans-serif;
    line-height: 1.5;
}
/** Globales **/
h1 {
    font-size: 5rem;
}
h2 {
    font-size: 4rem;
}
h3 {
    font-size: 3rem;
}
h1, h2, h3 {
    font-family: 'Playfair Display', serif;
    margin: 0;
}
a {
    text-decoration: none;
    color: #000000;
}
img {
    max-width: 100%;
    display: block;
}
.contenedor {
    width: 120rem;
    max-width: 95%;
    margin: 0 auto; /** margin-inline: auto **/

}
/** Header y Navegacion **/
.nombre-sitio {
    margin: 0 5rem;
    text-align: center;
}
.nombre-sitio span {
    color: #037bc0;
}
.contenedor-nav {
    border: .1rem solid #e1e1e1;
}
.nav-principal {
    padding: 2rem 0;
    display: flex;
    justify-content: space-evenly;
}
.hero {
    height: 55rem;
    background-image: url(../img/principal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
/** Categorias **/
.categorias h2 {
    text-align: center;
    margin: 3rem 0;
}
.listado-categorias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
.categoria a {
    display: block;
    text-align: center;
    padding: 2rem;
    font-size: 2rem;
}
.categoria a:hover {
    background-color: #037bc0;
    color: #ffffff;
    border-radius: 0 0 1rem 1rem;
}