html {
    box-sizing: border-box;
    height: 100%;
    font-size: 62.5%;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    font-size: 1.8rem;
    font-family: 'Raleway', sans-serif;
    line-height: 1.5;
}
/** Globales **/
h1 {
    font-size: clamp(2.5rem, -0.8rem + 10vw, 5rem);
}
h2 {
    font-size: clamp(1.5rem, -0.8rem + 10vw, 4rem);
}
h3 {
    font-size: clamp(1rem, -0.8rem + 10vw, 3rem);
}
h1, h2, h3 {
    font-family: 'Playfair Display', serif;
    margin: 0;
}
a {
    text-decoration: none;
    color: #000000;
}
img {
    max-width: 100%;
    display: block;
}
.contenedor {
    width: 120rem;
    max-width: 95%;
    margin: 0 auto; /** margin-inline: auto **/

}
.btn {
    display: block;
    border: none;
    background-color: #8cbc00;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 900;
    width: 100%;
    padding: 1rem;
    transition: background-color 300ms ease;
    font-size: 1.8rem;
    text-align: center;
}
.btn:hover {
    cursor: pointer;
    background-color: #769d00;
}
/** Utilidades **/
.max-width-30 {
    max-width: 100%;
}
@media (min-width: 768px) {
    .max-width-30 {
        max-width: 30rem;
    }
}
/** Header y Navegacion **/
.nombre-sitio {
    margin: 0 5rem;
    text-align: center;
}
.nombre-sitio span {
    color: #037bc0;
}
.contenedor-nav {
    border: .1rem solid #e1e1e1;
}
.nav-principal {
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    text-align: center;
    row-gap: 1rem;
}
@media (min-width: 768px) {
    .nav-principal {
        display: flex;
        flex-direction: row;        
        justify-content: space-evenly;
    }
}
.hero {
    height: 55rem;
    background-image: url(../img/principal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
/** Categorias **/
.categorias h2 {
    text-align: center;
    margin: 3rem 0;
}
.listado-categorias {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
}
.categoria img {
    width: 100%;
}
.categoria a {
    display: block;
    text-align: center;
    padding: 2rem;
    font-size: 2rem;
}
.categoria a:hover {
    background-color: #037bc0;
    color: #ffffff;
    border-radius: 0 0 1rem 1rem;
}
@media (min-width: 768px) {
    .listado-categorias {
        grid-template-columns: repeat(3, 1fr);
    }
}
/** Sobre Nosotros **/
.sobre-nosotros {
    background-image: linear-gradient(to bottom, transparent 50%, #037bc0 50%, #037bc0 100%),
    url(../img/nosotros.jpg);
    background-repeat: no-repeat;
    background-size: 100%, 120rem;
    background-position: bottom center;
    margin: 3rem 0;
}
.sobre-nosotros-grid {
    display: grid;
    grid-template-rows: repeat(2,1fr);
}
.sobre-nosotros-info {
    grid-row: 2/3;
    padding: 4rem 2rem;
    color: #ffffff;
}
@media (min-width: 768px) {
    /** Sobre Nosotros **/
    .sobre-nosotros {
        background-image: linear-gradient(to right, transparent 50%, #037bc0 50%, #037bc0 100%),
        url(../img/nosotros.jpg);
        background-position: left center; 
        padding: 10rem 0;
    }
    .sobre-nosotros-grid {
        grid-template-rows: unset;
        grid-template-columns: repeat(2,1fr);
    }
    .sobre-nosotros-info {
        grid-column: 2 / 3;
        padding: 0 0 0 6rem;
    }
}
/** Contenido Principal (productos) **/
.contenido-principal h2 {
    margin: 3rem 0;
    text-align: center;
}
.listado-productos {
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
.producto {
    background-color: #037bc0;
    margin-bottom: 3rem;
}
.producto-info {
    text-align: center;
    color: #ffffff;
    padding: 2rem;
}
.producto-info p {
    margin: 2rem 0;
}
.producto-info .precio {
    font-size: 2.8rem;
    font-weight: 900;
}
@media (min-width: 768px) {
    .listado-productos {
        grid-template-columns: unset;
        grid-template-areas: 
        "p1 p1 p1 p1 p1 p1"
        "p2 p2 p2 p3 p3 p3"
        "p4 p4 p5 p5 p6 p6";
        gap: 2rem;
    }
    .producto:nth-child(1) {
        grid-area: p1;
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
    .producto:nth-child(1) .producto-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .producto:nth-child(2) {
        grid-area: p2;
    }
    .producto:nth-child(3) {
        grid-area: p3;
    }
    .producto:nth-child(4) {
        grid-area: p4;
    }
    .producto:nth-child(5) {
        grid-area: p5;
    }
    .producto:nth-child(6) {
        grid-area: p6;
    }
    .producto:nth-child(1) img {
        height: 43rem;
        width: 100%;
        object-fit: cover;
    }
    .producto:nth-child(2) img,
    .producto:nth-child(3) img {
        height: 30rem;
        width: 100%;
        object-fit: cover;
    }
    .producto {
        margin-bottom: 0;
    }
}
/** Footer **/
.footer {
    border-top: .1rem solid #e1e1e1;
    margin-top: 3rem;
}
.footer-navegaciones {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 2rem;
    text-align: center;
}
.footer-navegaciones h3 {
    margin: 1rem 0;
}
.footer-nav a {
    display: block;
    line-height: 2;
}
.footer-nav a:hover {
    color: #037bc0;
}
.footer .copyright {
    text-align: center;
    padding: 2rem 0;
}
@media (min-width: 768px) {
    .footer-navegaciones {
        grid-template-columns: repeat(3,1fr);
    }
    .footer-navegaciones h3 {
        margin: 5rem 0 1rem 0;
    }
}
/** PAGINA Sobre Nosotros **/
.nosotros {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    column-gap: 4rem;
    align-items: center;
}
/** PAGINA Blog **/
.blog {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 2rem;
}
.blog h3 {
    margin-bottom: 3rem;
}
.entrada {
    padding-bottom: 3rem;
    border-bottom: .2rem solid #e1e1e1;
    margin-bottom: 2rem;
}
.entrada:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}
.entrada-info {
    display: flex;
    flex-direction: column;
}
.entrada-fecha,
.entrada-autor {
    font-weight: 700;
    margin: 1rem 0 0 0;
}
.entrada-fecha span,
.entrada-autor span {
    color: #037bc0;
}
.entrada-contenido {
    text-align: justify;
}
@media (min-width: 768px) {
    .blog {
        grid-template-columns: 2fr 1fr;
    }
    .entrada-info {
        flex-direction: row;
        justify-content: space-between;
    }
}
/** Pagina Entrada **/
.contenido-entrada-blog {
    width: 95%;
    margin: 0 auto;
    line-height: 2;
}
@media (min-width: 768px) {
    .contenido-entrada-blog {
        width: 60rem;
    }
}
/** Pagina Galeria **/
.galeria {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
}
.galeria img {
    height: 40rem;
    max-width: 100%;
    object-fit: cover;
}
@media (min-width: 768px) {
    .galeria {
        grid-template-columns: repeat(3,1fr);
    }
    .galeria img {
        width: 40rem;
    }
}
/** Pagina Formulario **/
.formulario {
    width: 95%;
    margin: 0 auto;
}
.formulario fieldset {
    border: .1rem solid #000000;
    margin-bottom: 2rem;
}
.formulario legend {
    background-color: #005485;
    width: 100%;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 900;
    padding: 1rem;
    margin-bottom: 4rem;
    font-size: clamp(1rem, -0.8rem + 10vw, 2rem);
}
.campo {
    display: flex;
    margin-bottom: 2rem;
}
.campo:not(:has(input[type="radio"])) {
    flex-direction: column;
}
.campo label {
    flex-basis: 10rem;
}
.campo:not(:has(input[type="radio"])) label {
    flex-basis: 4rem;
}
.campo textarea,
.campo select,
.campo input:not([type="radio"]) {
    flex: 1;
    border: .1rem solid #e1e1e1;
    border-radius: .5rem;
    padding: 1rem;
}
@media (min-width: 768px) {
    .formulario {
        width: 60rem;
    }
    .campo,
    .campo:not(:has(input[type="radio"])) {
        display: flex;
        flex-direction: row;
        margin-bottom: 2rem;
    }
    .campo:not(:has(input[type="radio"])) label,
    .campo label {
        flex-basis: 10rem;
    }
}