html {
    box-sizing: border-box;
    height: 100%;
    font-size: 62.5%;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    font-size: 1.8rem;
    font-family: 'Raleway', sans-serif;
    line-height: 1.5;
}
/** Globales **/
h1 {
    font-size: 5rem;
}
h2 {
    font-size: 4rem;
}
h3 {
    font-size: 3rem;
}
h1, h2, h3 {
    font-family: 'Playfair Display', serif;
    margin: 0;
}
a {
    text-decoration: none;
    color: #000000;
}
img {
    max-width: 100%;
    display: block;
}
.contenedor {
    width: 120rem;
    max-width: 95%;
    margin: 0 auto; /** margin-inline: auto **/

}
.btn {
    display: block;
    border: none;
    background-color: #8cbc00;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 900;
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    transition: background-color 300ms ease;
    font-size: 1.8rem;
}
.btn:hover {
    cursor: pointer;
    background-color: #769d00;
}
/** Header y Navegacion **/
.nombre-sitio {
    margin: 0 5rem;
    text-align: center;
}
.nombre-sitio span {
    color: #037bc0;
}
.contenedor-nav {
    border: .1rem solid #e1e1e1;
}
.nav-principal {
    padding: 2rem 0;
    display: flex;
    justify-content: space-evenly;
}
.hero {
    height: 55rem;
    background-image: url(../img/principal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
/** Categorias **/
.categorias h2 {
    text-align: center;
    margin: 3rem 0;
}
.listado-categorias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
.categoria a {
    display: block;
    text-align: center;
    padding: 2rem;
    font-size: 2rem;
}
.categoria a:hover {
    background-color: #037bc0;
    color: #ffffff;
    border-radius: 0 0 1rem 1rem;
}
/** Sobre Nosotros **/
.sobre-nosotros {
    background-image: linear-gradient(to right, transparent 50%, #037bc0 50%, #037bc0 100%),
    url(../img/nosotros.jpg);
    background-repeat: no-repeat;
    background-size: 100%, 120rem;
    background-position: left center;
    padding: 10rem 0;
    margin: 3rem 0;
}
.sobre-nosotros-grid {
    display: flex;
    justify-content: flex-end;
}
.sobre-nosotros-info {
    flex-basis: 50%;
    padding-left: 6rem;
    color: #ffffff;
}
/** Contenido Principal (productos) **/
.contenido-principal h2 {
    margin: 3rem 0;
    text-align: center;
}
.listado-productos {
    display: grid;
    grid-template-areas: 
    "p1 p1 p1 p1 p1 p1"
    "p2 p2 p2 p3 p3 p3"
    "p4 p4 p5 p5 p6 p6";
    gap: 2rem;
}
.producto:nth-child(1) {
    grid-area: p1;
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.producto:nth-child(1) .producto-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.producto:nth-child(2) {
    grid-area: p2;
}
.producto:nth-child(3) {
    grid-area: p3;
}
.producto:nth-child(4) {
    grid-area: p4;
}
.producto:nth-child(5) {
    grid-area: p5;
}
.producto:nth-child(6) {
    grid-area: p6;
}
.producto:nth-child(1) img {
    height: 43rem;
    width: 100%;
    object-fit: cover;
}
.producto:nth-child(2) img,
.producto:nth-child(3) img {
    height: 30rem;
    width: 100%;
    object-fit: cover;
}
.producto {
    background-color: #037bc0;
}
.producto-info {
    text-align: center;
    color: #ffffff;
    padding: 2rem;
}
.producto-info p {
    margin: 2rem 0;
}
.producto-info .precio {
    font-size: 2.8rem;
    font-weight: 900;
}
/** Footer **/
.footer {
    border-top: .1rem solid #e1e1e1;
    margin-top: 3rem;
}
.footer-navegaciones {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}
.footer-navegaciones h3 {
    margin: 5rem 0 1rem 0;
}
.footer-nav a {
    display: block;
    line-height: 2;
}
.footer-nav a:hover {
    color: #037bc0;
}
.footer .copyright {
    text-align: center;
    padding: 2rem 0;
}
/** PAGINA Sobre Nosotros **/
.nosotros {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    column-gap: 4rem;
    align-items: center;
}
