@use 'base/variables' as v;
@use 'base/mixins' as m;

.pasos {
    margin-top: 5rem;

    &__contenido {
        background-color: v.$primario;
        margin: -1px 0;
        padding-bottom: 8rem;
    }
    &__heading {
        text-align: center;
        color: v.$blanco;

        &--descripcion {
            font-size: 1.8rem;
            display: block;
        }
    }
    &__grid {
        @include m.tablet {
            @include m.grid(3, v.$separacion);
        }
    }
    &__img {
        transition: transform 300ms;

        &:hover {
            transform: rotate(-4deg) scale(1.2);
        }
    }
}